{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data] | default: site[include.data] | default: emptyarray | data_filter: include.filter %}
{% assign roles = data | group_by: "role" %}

{% for role in roles %}
  <div class="role-section">
    {% if role.name == "phd" %}
      <h2>PhD Students</h2>
    {% elsif role.name == "researcher" %}
      <h2>Researchers</h2>
    {% else %}
      <h2>{{ role.name | capitalize }}</h2>
    {% endif %}
  </div>
  {% assign role_data = role.items %}
  {% assign years = role_data | group_by_exp: "d", "d.date | date: '%Y'" | sort: "ord" | reverse %}


    {% assign data = role_data | sort: "ord" %}
    {% for d in data %}
      {% assign style = d.style | default: include.style %}
      {% include {{ include.component | append: ".html" }}
        affiliation=d.affiliation
        author=d.author
        authors=d.authors
        buttons=d.buttons
        caption=d.caption
        content=d.content
        date=d.date
        description=d.description
        excerpt=d.excerpt
        height=d.height
        icon=d.icon
        id=d.id
        image=d.image
        last_modified_at=d.last_modified_at
        link=d.link
        lookup=d.lookup
        name=d.name
        publisher=d.publisher
        repo=d.repo
        role=d.role
        slug=d.slug
        style=style
        subtitle=d.subtitle
        tags=d.tags
        text=d.text
        title=d.title
        tooltip=d.tooltip
        type=d.type
        url=d.url
        width=d.width
      %}
  {% endfor %}
{% endfor %}